# created during build
/buildkit.zip
/build.xml
/libs/
/app/

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX1+OBWYCHBdPmhz97lU0hS5JhJaLP1e32UHT1jSTafJDTMk1uUSVvrop
8rJs4QqTqmuls1KySj+MYGKlik5hJvCI8oXe/jeADr8=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
CUSTOM*
*.bak
