*.res

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX19QQKX3FGd3xgxQ0UaSBOlDxXTWFMjv0zruSC3KAif6/17nPkOP1o4u
72nwkpeSsMTVmMJl2gIZznEMgestE0CTbS/lS4TerZY=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
CUSTOM*
*.bak
